.listData {
  height: 36px;
  background-color: #21212b;
  margin-top: 15px;
  border-left: 3px solid #fc5539;
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: space-between;
  color: #fff !important;
}
.listData span{
    color:#fff;
}
